/* .ListContainer{
    height: auto;
    color: #e9fff9;
    background-color: #1d3354;
} */

ul {
    width: 50%;
    margin: 25px auto;
    padding: 0 0 56px 0;
    border-radius: 25px;
    list-style: none;
  }

